img {
	display: block;
	width: 200px;
}

.highlighted {
	background-color: yellowgreen;
	transition: 0.4s;
}

@media (min-width: 576px) {
	img {
		width: 250px;
	}
}
@media (min-width: 768px) {
	img {
		display: block;
		width: 200px;
		margin-right: 15px;
	}

	.box-article {
		display: flex;
	}
}
@media (min-width: 992px) {
}
