.header-image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
	background-position: center;
	background-size: cover;
	transition: 0.7s;
}

.header-image::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: #23232387;
	z-index: 0;
}
.header-image::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: #1e1e1e;
	z-index: -1;
}

.text-header {
	text-align: center;
	padding: 15px;
	color: white;
	z-index: 1;
}

@media (min-width: 576px) {
	.text-header {
		width: 70%;
	}
}
@media (min-width: 768px) {
	.header-image {
		height: 25vh;
	}
	.text-header {
		width: 50%;
	}
}
@media (min-width: 992px) {
	.header-image {
		height: 30vh;
		font-size: 18px;
	}
	.text-header {
		font-size: 20px;
	}
}
