.box-nav-user-panel {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	list-style: none;
}

.item-nav-user-panel {
	display: flex;
}

.link-user-panel {
	text-decoration: none;
	color: #222;
	padding: 8px 12px;
	background-color: #f0f0f0;
	cursor: pointer;
}

.link-user-panel:hover {
	background-color: yellowgreen;
	color: white;
}

.active-link-user-panel {
	background-color: yellowgreen;
	color: white;
}

.box-form-user-panel {
}

/* Settings */

.box-settings {
}

.btn-settings {
	display: inline;
	font-size: 16px;
}

.label-settings {
	display: block;
}

.error-settings {
	text-align: left;
}

.box-form-add-article {
	display: flex;
	flex-direction: column;
}

.checkbox-add-article {
	display: flex;
	align-items: center;
}

.checkbox-add-article > label {
	margin-right: 10px;
}

.checkbox-add-article > input {
	height: 15px;
	width: 15px;
}

.success-settings {
	font-weight: bold;
	color: yellowgreen;
}

/* AddArticle */
